:root {
  --modal-background: #bdbdbd;
  --modal-font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(21, 32, 43);
}

#app {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}

header > h1 {
  font-family: 'Jacquard 24', system-ui, sans-serif;
  color: white;
  text-align: center;
  margin-top: 50px;
}

main {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: fit-content;
  position: relative;
}

.center > ul {
  padding: 0;
}

.center > ul > li {
  list-style: none;
}

button {
  cursor: pointer;
}

.image-sources {
  display: none;
}

#menu-options {
  position: absolute;
  color: black;
  background-color: var(--modal-background);
  font-family: var(--modal-font-family);
  border: 1px solid grey;
}

#menu-options > ul {
  margin: 0;
  padding: 0;
}

#menu-options li {
  list-style: none;
  padding: 5px 10px;
  cursor: pointer;
}

#menu-options li:hover {
  background-color: #979f9e;
}
