body {
  margin: 0;
  padding: 0;
  background-color: rgb(21, 32, 43);
}

#app {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}

header > h1 {
  font-family: 'Jacquard 24', system-ui, sans-serif;
  color: white;
  text-align: center;
  margin-top: 50px;
}

main {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: absolute;
}

.center {
  width: fit-content;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.center > ul {
  padding: 0;
}

.center > ul > li {
  list-style: none;
}
